:root {
  --cor_primaria:#e21;
  --cor_primaria_forte:#900;
  --fundo1:#f7f7f7;
  --fundo2:#fff;
  --texto:#000;
  --subtitulo:rgba(0,0,0,0.2);
  --onda:url("./img/onda-clara.svg");
}





@media (prefers-color-scheme:dark) {
  :root {
    --fundo1:#111;
    --fundo2:#000;
    --texto:#fff;
    --subtitulo:rgba(255,255,255,0.2);
    --onda:url("./img/onda-escura.svg");
  } 
}

/* Configurações gerais */
body {
    display: grid;
    font-family: arial;
    margin-top:3.125rem;
    background-color: var(--fundo1);
    gap: 3.75rem;
    color: var(--texto);

}

a {
    border-radius: 0.25rem;
    text-decoration: none;
}

p,h1,h2,h3 {
  margin: 0rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

img {
    max-width: 100%;
    display: block;
}
/* -------------------------------------------------------------------------------/
/* id grid */
#conteudo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 62.5rem;
    border-radius: 0.25;
    justify-self: center;
    position: relative;
  }
/* -------------------------------------------------------------------------------*/
/* items com class */ 
/* Novo */
/* Troquei a cor da imagem svg */
.label-header {
  display: grid;
  gap: 2rem;
  justify-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.563rem;
    justify-content: center;
}

/* Novo */
/* Adicionei um pseudoelemento pra fazer o detalhe vermelho */
/* Novo detalhe */
.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: var(--cor_primaria);
  position: absolute;
  top: 1.25rem;
  right: -1.875rem;
}

.introducao {
    display: grid;
    background-color: var(--fundo2);
    padding: 2.5rem;
    text-align: right;
    position: relative; 
    align-content: center;
    justify-content: center;
    gap: 1.25rem;
    justify-items: right;
/*Estava com dúvida por que o a não se alinha a direita, então quando coloquei esse text-align, ele foi... */
}

/* Novo */
/* Adicionei */
.conteudo-subtitulo {
  display: grid;
  justify-content: center;
  /* padding: 2.5rem; */
  background-image: var(--onda); 
}

.subtitulo {
    font-size: 4rem;
    color: var(--subtitulo);
    text-align: right;
    align-self: center;
    padding: 2rem;
    
}

/* Novo */
/* Já existiam essas duas classes(vantagens e vantagens-items, apenas mudei vantagens(ul) e vantagens-items(li) */
.vantagens {
  padding: 2rem;
  background-color: var(--fundo2);
  list-style:none; 
  margin: 0rem; 
}

.vantagens-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  margin: 0rem;
  border-left: 4px solid var(--fundo2);
}
/* -------------------------------------------------------------------------------/
/* Elementos/items */
.links a {
    padding: 0.938rem 1.563rem;
    color: var(--texto);
    background-color: var(--fundo2);
    border: 0.2rem solid white;
}

/* Novo */
/* Adicionei pseudo class hover nos links do menu */
.links a:hover {
  border: 0.2rem solid var(--cor_primaria);
  max-height: 100%;
}

.introducao a {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: var(--cor_primaria);
    padding: 0.938rem 1.563rem;
}

/* Novo */
/*Adicionei um pseudo class hover no link do conteúdo principal */
.introducao a:hover {
  background-color: var(--cor_primaria_forte);
} 

/* Novo */
/* Adicionei uma pseudo class para mudar o background dos items da lista ímpares */
.vantagens li:nth-child(odd) {
  background-color: #cfcfcf;
} 

.vantagens-items:hover {
  border-left: 0.25rem solid var(--cor_primaria);
}

.vantagens-items p {
  grid-column: 2;
  text-align: start;
} 

.rodape {
  margin: 0rem;
  text-align: center;
  padding: 2.5rem;
  background-color: var(--fundo2);
  box-sizing: border-box;
  width: 100%;
}


@media (max-width:950px) {
  #conteudo {
    grid-template-columns: 1fr;
  }
  .introducao::before {
    width: 0.300rem;
    height: 3rem;
    top: 92%;
    left: 45%;
  }
}

